<?php
/**
 * SolutionApi
 * PHP version 5
 *
 * @category Class
 * @package  Exatia\GraphhopperRouteOptimizationClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
/**
 *  Copyright 2016 SmartBear Software
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program. 
 * https://github.com/swagger-api/swagger-codegen 
 * Do not edit the class manually.
 */

namespace Exatia\GraphhopperRouteOptimizationClient\Api;

use \Exatia\GraphhopperRouteOptimizationClient\Configuration;
use \Exatia\GraphhopperRouteOptimizationClient\ApiClient;
use \Exatia\GraphhopperRouteOptimizationClient\ApiException;
use \Exatia\GraphhopperRouteOptimizationClient\ObjectSerializer;

/**
 * SolutionApi Class Doc Comment
 *
 * @category Class
 * @package  Exatia\GraphhopperRouteOptimizationClient
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class SolutionApi
{

    /**
     * API Client
     * @var \Exatia\GraphhopperRouteOptimizationClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;
  
    /**
     * Constructor
     * @param \Exatia\GraphhopperRouteOptimizationClient\ApiClient|null $apiClient The api client to use
     */
    function __construct($apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://graphhopper.com/api/1/vrp');
        }
  
        $this->apiClient = $apiClient;
    }
  
    /**
     * Get API client
     * @return \Exatia\GraphhopperRouteOptimizationClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }
  
    /**
     * Set the API client
     * @param \Exatia\GraphhopperRouteOptimizationClient\ApiClient $apiClient set the API client
     * @return SolutionApi
     */
    public function setApiClient(ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }
  
    /**
     * getSolution
     *
     * Return the solution associated to the jobId
     *
     * @param string $key your API key (required)
     * @param string $job_id Request solution with jobId (required)
     * @return \Exatia\GraphhopperRouteOptimizationClient\Model\Response
     * @throws \Exatia\GraphhopperRouteOptimizationClient\ApiException on non-2xx response
     */
    public function getSolution($key, $job_id)
    {
        list($response) = $this->getSolutionWithHttpInfo ($key, $job_id);
        return $response; 
    }


    /**
     * getSolutionWithHttpInfo
     *
     * Return the solution associated to the jobId
     *
     * @param string $key your API key (required)
     * @param string $job_id Request solution with jobId (required)
     * @return Array of \Exatia\GraphhopperRouteOptimizationClient\Model\Response, HTTP status code, HTTP response headers (array of strings)
     * @throws \Exatia\GraphhopperRouteOptimizationClient\ApiException on non-2xx response
     */
    public function getSolutionWithHttpInfo($key, $job_id)
    {
        
        // verify the required parameter 'key' is set
        if ($key === null) {
            throw new \InvalidArgumentException('Missing the required parameter $key when calling getSolution');
        }
        // verify the required parameter 'job_id' is set
        if ($job_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $job_id when calling getSolution');
        }
  
        // parse inputs
        $resourcePath = "/solution/{jobId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));
  
        // query params
        if ($key !== null) {
            $queryParams['key'] = $this->apiClient->getSerializer()->toQueryValue($key);
        }
        
        // path params
        if ($job_id !== null) {
            $resourcePath = str_replace(
                "{" . "jobId" . "}",
                $this->apiClient->getSerializer()->toPathValue($job_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        
  
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
                // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath, 'GET',
                $queryParams, $httpBody,
                $headerParams, '\Exatia\GraphhopperRouteOptimizationClient\Model\Response'
            );
            if (!$response) {
                return array(null, $statusCode, $httpHeader);
            }

            return array($this->apiClient->getSerializer()->deserialize($response, '\Exatia\GraphhopperRouteOptimizationClient\Model\Response', $httpHeader), $statusCode, $httpHeader);
                    } catch (ApiException $e) {
            switch ($e->getCode()) { 
            case 200:
                $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Exatia\GraphhopperRouteOptimizationClient\Model\Response', $e->getResponseHeaders());
                $e->setResponseObject($data);
                break;
            }
  
            throw $e;
        }
    }
}
